body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.box {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 6px;
    margin-top: 4px;
    width: 40px;
    /* max-width: 30px; */
}

select,
button {
    padding: 6px;
    margin-top: 4px;
    width: 100%;
    max-width: 400px;
}

button {
    margin-top: 10px;
    cursor: pointer;
}

.hours {
    display: flex;

}

.hour {
    display: flex;
    flex-direction: column;
    margin: 3px;
    align-items: center;
    justify-content: center;
}

.rik {
    width: 80px !important;
}

.tata {
    width: 150px !important;
}